
Xft.dpi: 168
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault


!
!------------------------------------------------------------------------------
! c o l o r -  s e t t i n g s

! hard contrast: *background: #1d2021
*background: #282828
! soft contrast: *background: #32302f
*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2


! Default
! 0: black
! *color0:  #222222
! *color8:  #222222
! 1: red
! *color1:  #9f6767
! *color9:  #9f6767
! 2: green
! *color2:  #92ac68
! *color10: #92ac68
! 3: yellow
! *color3:  #d0d293
! *color11: #d0d293
! 4: blue
! *color4:  #9aacc3
! *color12: #9aacc3
! 5: magenta
! *color5:  #bb77a4
! *color13: #bb77a4
! 6: cyan
! *color6:  #77bbb5
! *color14: #77bbb5
! 7: white
! *color7:  #BBBBBB
! *color15: #BBBBBB

!------------------------------------------------------------------------------
! u r x v t

URxvt*geometry:         112x22  
URxvt*font:                            -*-terminus-*-*-*-*-32-*-*-*-*-*-*-*
URxvt*urlLauncher:         firefox  
URxvt*scrollBar:        false
URxvt*scrollBar_right:        true
URxvt*scrollColor:        #000000

urxvt.perl-ext-common: resize-font
